# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# Data & Models
data/
fraud_doc.db
*.db
pgdata/
models/

# Models (local download)
src/infrastructure/ocr/models/

# Logs
*.log

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db